body{
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;

	background-color: #849d8f;	
}

p{
	margin: 0;
}

a{
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.disable{
	display:none;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;
  
  padding-top: 321px;
  margin-bottom: 41px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  /*margin: 0;*/
  margin-top: -50px;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: auto;
  margin-bottom: 30px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  margin-bottom: -40px;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-navigation{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: transparent;
}

.site-navigation,
.user-navigation{
	list-style: none;

}

.site-navigation a,
.user-navigation a{
	color: #ffffff;
}

.user-navigation .button:hover,
.user-navigation .button:focus {
	color: #323232;
    background-color: #f8f7f4;

}

.site-navigation{
	display: flex;

	width: 550px;
	margin-left: 8px;
	margin-top: 23px;
	padding: 0;
}

.site-navigation > li{
	position: relative;
	margin-right: 0;
}

.site-navigation > li:after{
	display: block;
	content: "";
	width: 80px;
	height: 50px;
}

.site-navigation > li > a {
	display: inline-block;
	padding: 0 14px;
	height: 32px;
	line-height: 32px;
	font-weight: 500;

}

.site-navigation > li:hover > a{
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 50px;
}

.sub-menu{
	position: absolute;
	display: none;
	list-style: none;
	width: 131px;
	left: -4px;
	top: 38px;
	font-size: 14px;
	z-index: 100;

	padding: 0 6px;
	background-color: #f8f7f4;
	border-radius: 5px;
	padding-bottom: 6px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.sub-menu li:first-child{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.sub-menu li{
	height: 28px;
	line-height: 28px;
	padding: 2px 10px 1px 15px;
}

.sub-menu a{
	color: #323232; 
}

.sub-menu:hover{
	display: block;
}

.sub-menu > li:hover{
	background-color: #fbded8;
}

.site-navigation > li:hover .sub-menu{
	display: block;
}



.button{
	display: inline-block;
	width: auto;
	height: 44px;
	padding:0 19px;

	font:inherit;
	font-weight: 500;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	color: #ffffff;

	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
}


.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.slide-button {
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  cursor: pointer;
}



.button-red{
	width: 200px;
	height: 44px;

	font:inherit;
	text-align: center;
	color: #ffffff;

	font-size: 18px
	line-height: 22px;

	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-color: #e74a35;
	border-radius: 25px;
	border: none;
}


.button img{
	vertical-align: middle;
	margin-right: 10px;
}



.user-navigation{
	display: flex;
	justify-content: flex-end;
	max-width: 350px;
	padding: 0;
	margin: 23px 0 0 auto;
}

.user-navigation > li{
	margin-left: 10px;
	position: relative;
}

.search-popup{
	position: absolute;
	display: none;
	background-color: #f8f7f4;
	padding: 20px 15px;
	width: 310px;
	top: 35px;
	left: -305px;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.search-popup input{
	border-radius: 5px;
	height: 44px;
	width: 296px;
	border: 1px solid #d3d3d2;
	color: #d3d3d2;
	font-size: 14px;
	padding-left: 15px;
}


.user-navigation > li > a{
	display: inline-block;
	color: #ffffff;
	background-color: rgba(255,255,255,0.2);
	background-repeat: no-repeat;
	height: 32px;
	border-radius: 50px;
	padding: 0 17px 0 44px;
	line-height: 32px;
	font-size: 14px;
	border: none;
}

.user-navigation .loupe{
	position: relative;
	padding: 0;
	width: 32px;

}
.loupe::before{
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	width: 17px;
	height: 17px;
	background-image: url(../img/loupe.svg);
	background-position: 0 0;
}

.user-navigation .entrance{
	position: relative;
	padding-left: 44px;

}
.entrance::before{
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
    height: 19px;
    background-image: url(../img/entrance-white.svg);
    background-position: 0 0;

}

.entrance-popup{
	position: absolute;
	display: none;
	width: 240px;
	height: 195px;
	top: 36px;
	left: -180px;
	background-color: #f8f7f4;
	padding: 20px 17px 0 19px;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.entrance-popup input{
	border-radius: 5px;
	width: 223px;
	height: 40px;
	border: 1px solid #d3d3d2;
	color: #d3d3d2;
	font-size: 14px;
	padding-left: 13px;
	margin-bottom: 20px;
	color: #999999;
	opacity: 0.6;
}

.entrance-popup a{
	font-size: 13px;
	color: #323232;
	text-decoration: underline;
	text-align: left;
	opacity: 0.7;
}

.help-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button-submit{
	padding: 0 25px;
	font-size: 18px;
	border-radius: 25px;
}



.user-navigation .basket{
	position: relative;
	padding-left: 45px;
}

.basket::before{
	content: "";
	position: absolute;
	top: 7px;
	left: 16px;
	width: 21px;
    height: 20px;
	background-image: url(../img/basket.svg);
	background-position: 0 0;
}

.user-navigation > li > a:hover,
.loupe-wrapper:hover > a,
.entrance-wrapper:hover > a{
	background-color: #ffffff;
	color: #323232;
}

.loupe-wrapper:hover .search-popup{
	display: block;
}
.entrance-wrapper:hover .entrance-popup{
	display: block;
}


.loupe-wrapper:hover .loupe::before{
	background-image: url(../img/loupe-black.svg);
}

.entrance-wrapper:hover .entrance::before{
	background-image: url(../img/entrance.svg);
}

.basket:hover::before{
	background-image: url(../img/basket-black.svg);
}

.about-gllacy{
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	text-align: left;
}

.about{
	width: 1146px;
    height: 306px;
	background-color: #ead7b6;
	background-image: url("../img/about-bg.jpg");
	background-size: 1146px 306px;
	background-repeat: no-repeat;
	border-radius: 15px;
	margin-bottom: 40px;

}
 
.about h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
	text-align: left;
	padding-top: 30px;
	padding-left: 21px;
	margin: 0;
}

.news-inner{
	width: 560px;
    height: 220px;

	color: #323232; 

	background-color: #ffffff;
	background-image: url("../img/back-news.jpg");
	background-position: 0 0;
	background-size: 560px 220px; 
	background-repeat: no-repeat;
	border-radius: 15px;
}

.news a{
	color: #323232;
	text-decoration: underline;
}


.mail{
	width: 560px;
    height: 220px;

    color: #5a5a5a;

    font-size: 16px;
    line-height: 22px;

    background-image: url("../img/bg-post.svg");
}

.mail-inner{
	width: 549px;
    height: 211px;
    margin-top: 5px;
    margin-left: 5px;

    position: absolute;
    border-radius: 10px;

	background-color: #f8f7f4;
}


.social,
.information {
	list-style: none;
}




.information a{
	color: #ffffff ;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
}



.academy-logo a{
	text-decoration: none;
	color: #ffffff;

}






---------CATALOG.html---------

.working{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;

	text-align: right;
}

.working-telephone{
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;

}

.breadcrumbs {
	text-decoration: none;
	color: #ffffff;
	list-style: none;
}

.ice-name{
	color: #ffffff;

	font-size:16px;
	font-weight: 500;
	line-height: 22px;
	list-style: none;
}


.ice-name a{
	text-decoration: none;
	color: #ffffff;
}



.ice-img-price{
	width: 267px;
	height: 267px;
	position: relative;

}

.ice-img-price img{
	border-radius: 50%;
}


.ice-img-price p{
	position: absolute; 
	left: 0;
	bottom: 19px;

	font-size: 45px;
    font-weight: bold;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}

.ice-img-price span{
	font-size: 30px;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}




             /*-----Зафлексить флексы----*/

html,
body{
	min-width: 1200px;
	min-height: 2416px;
}

.container{
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-navigation{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.user-navigation{
	display: flex;
	justify-content: flex-end;
	width: 350px;
	padding: 0;
	margin: 23px 0 0 auto;
}

.user-navigation > li{
	margin-left: 10px;
}


.main-header-logo{
	margin-top: 10px;
}

.about-gllacy{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 20px;
}

.about-gllacy-col{
	width: 540px;
}

.about-gllacy-col p{
	position: relative;
	padding-left: 58px;
	padding-top: 16px;
	margin-bottom: 10px;
}

.about-gllacy-col img{
	position: absolute;
	top: 0;
	left: 0;
}

.mail-news-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.mail{
	
}

.news{

}

.main-footer{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	padding-top: 35px;
}

.social{
	display: flex;
	margin: 0;
	padding: 0;
}

.social > li{
	margin-right: 15px;
}

.information{
	margin: 0;
}


/*-----ФЛЕКСИМ КАТАЛОГ------*/

.breadcrumbs{
	margin: 0;
	padding: 0;

}


.ice-name{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;

}

.ice-name > li{
	width: 267px;
	margin-bottom: 40px;
}

.ice-name div{
	margin-bottom: 17px;
}














