body{
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;

	background-color: #849d8f;	
}

p{
	margin:0;
}

a{
	text-decoration: none;
	color: #ffffff;
}

.disable{
	display:none;
}

.main-navigation{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #849d8f;
}

.site-navigation,
.user-navigation{
	list-style: none;
}

.site-navigation a,
.user-navigation a{
	color: #ffffff;
}


.site-navigation a:hover,
.site-navigation a:focus{
	color: #ffbc9e;
	background-color: transparent;
}

.user-navigation .button:hover,
.user-navigation .button:focus {
	color: #323232;
    background-color: #f8f7f4;

}

.button{
	color: #ffffff;
	background-color: rgba(255,255,255,0.2);
	height: 32px;
	border-radius: 25px;
	display: inline-block;
	padding: 0 17px;
	/*text-align: center;*/
	line-height: 32px;
	border: none;
}


.button img{
	vertical-align: middle;
	margin-right: 10px;
}

.loupe{
	padding: 0;
	width: 32px;
	border-radius: 50%;
	text-align: center;
}

.loupe img{
	margin: 0;
}

.about-gllacy{
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	text-align: left;
}

.about{
	width: 1146px;
    height: 306px;
	background-color: #ead7b6;
	background-image: url("../img/about-bg.jpg");
	background-size: 1146px 306px;
	background-repeat: no-repeat;
	border-radius: 15px;
	margin-bottom: 40px;

}
 
.about h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
	text-align: left;
	padding-top: 30px;
	padding-left: 21px;
	margin: 0;
}

.news-inner{
	width: 560px;
    height: 220px;

	color: #323232; 

	background-color: #ffffff;
	background-image: url("../img/back-news.jpg");
	background-position: 0 0;
	background-size: 560px 220px; 
	background-repeat: no-repeat;
	border-radius: 15px;
}

.news a{
	color: #323232;
	text-decoration: underline;
}


.mail{
	width: 560px;
    height: 220px;

    color: #5a5a5a;

    font-size: 16px;
    line-height: 22px;

    background-image: url("../img/bg-post.svg");
}

.mail-inner{
	width: 549px;
    height: 211px;
    margin-top: 5px;
    margin-left: 5px;

    position: absolute;
    border-radius: 10px;

	background-color: #f8f7f4;
}

.button-red{
	width: 129px;
	height: 44px;

	font:inherit;
	text-align: center;
	color: #ffffff;

	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-color: #e74a35;
	border-radius: 25px;
	border: none;
}

.social,
.information {
	list-style: none;
}




.information a{
	color: #ffffff ;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
}



.academy-logo a{
	text-decoration: none;
	color: #ffffff;

}






/*---------CATALOG.html---------*/

.working{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;

	text-align: right;
}

.working-telephone{
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;

}

.breadcrumbs {
	text-decoration: none;
	color: #ffffff;
	list-style: none;
}

.ice-name{
	color: #ffffff;

	font-size:16px;
	font-weight: 500;
	line-height: 22px;
	list-style: none;
}


.ice-name a{
	text-decoration: none;
	color: #ffffff;
}


.button-red-catalog{
	width: 200px;
	height: 44px;

	font:inherit;
	text-align: center;
	color: #ffffff;

	font-size: 18px
	line-height: 22px;

	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-color: #e74a35;
	border-radius: 25px;
	border: none;
}

.ice-img-price{
	width: 267px;
	height: 267px;
	position: relative;

}

.ice-img-price img{
	border-radius: 50%;
}


.ice-img-price p{
	position: absolute; 
	left: 0;
	bottom: 19px;

	font-size: 45px;
    font-weight: bold;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}

.ice-img-price span{
	font-size: 30px;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}




             /*-----Зафлексить флексы----*/

html,
body{
	min-width: 1200px;
	min-height: 2416px;
}

.container{
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-navigation{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.user-navigation{
	display: flex;
	justify-content: flex-end;
	width: 350px;
	padding: 0;
	margin: 23px 0 0 auto;
}

.user-navigation > li{
	margin-left: 10px;
}


.site-navigation{
	display: flex;

	width: 550px;
	margin-left: 24px;
	margin-top: 32px;
	padding: 0;
}

.site-navigation > li{
	margin-right: 30px;
}

.main-header-logo{
	margin-top: 10px;
}

.about-gllacy{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 20px;
}

.about-gllacy-col{
	width: 540px;
}

.about-gllacy-col p{
	position: relative;
	padding-left: 58px;
	padding-top: 16px;
	margin-bottom: 10px;
}

.about-gllacy-col img{
	position: absolute;
	top: 0;
	left: 0;
}

.mail-news-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.mail{
	
}

.news{

}

.main-footer{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	/*padding-top: 35px;*/
}

.social{
	display: flex;
	margin: 0;
	padding: 0;
}

.social > li{
	margin-right: 15px;
}

.information{
	margin: 0;
}


/*-----ФЛЕКСИМ КАТАЛОГ------*/

.breadcrumbs{
	margin: 0;
	padding: 0;

}


.ice-name{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;

}

.ice-name > li{
	width: 267px;
	margin-bottom: 40px;
}

.ice-name div{
	margin-bottom: 17px;
}














